.login{
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem;
    width: fit-content;
    height: min-content;
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
}
.new-account{
    color: inherit;
}
.login-btn{
    width: 90%;
}
.login>*{
    font-size: large;
    padding: 1rem;
}

.login-input{
    padding: 0.5rem;
}
.form-div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.psw{
    margin: 1rem;
    text-decoration: underline;
    cursor: pointer;
}