.category-heading{
    text-align: center;
}

.category-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow:hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 1rem;
}
.card-img:hover{
    opacity: 0.3;

}

.card-header{
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem;
}
.card-header:hover{
    box-shadow: 0 0 0;
}

.title-container{
    /* visibility: visible; */
    display: block;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.4);
    border-radius: 1rem;
}
.card-title{
    /* visibility: visible; */
    display: block;
    align-self: center;
    justify-self: center ;
    /* position: absolute; */
    color: var(--primary-color);
    color: var(--secondary-color);
    background-color: var(--cta-color);
    padding: 0.2rem;
    border-radius: 0.8rem;
    text-decoration: dotted;
    grid-column: 1/2;
}

