
.single-video-container{
    /* width: min-content; */
    margin: auto;
    padding: 1rem;
    max-width: 100%;
}
.single-video-btn{
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: gainsboro;
}
.single-video-btn:hover{
    background-color: var(--cta-color);
    cursor: pointer;
}
.single-video-active-btn{
    background-color: var(--cta-color);
    color: var(--secondary-color);
}
/* .icon-video-btn{
    font: rem;
} */
.single-video-card-body{
    margin: 1rem;
}
.single-video-info{
    display: inline-flex;
    width: 100%;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 0.5rem;
    align-items:center;
    margin: 1rem auto;
}
.single-video-info>*{
    padding: 0.5rem;
}
.spaces-btwn{
    display: flex;
    justify-content: space-between;
}
.single-description{
    font-size: 1.5rem;
    padding: 0 1rem;
}
/* .br-2 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
} */