.playlist-modal-container{
    position: fixed;
    background-color: rgba(17,17,17,0.7);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlist-modal{
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem;
    padding: 3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    background-color: rgba(17,17,17,0.99);
    color: var(--secondary-color);
    max-width:300px;
    width:100%;
    gap: 1rem;
    position: relative;
}
.new-paylist{
    display: flex;
    font-size:0.5rem; 
}
.label-text{
    font-size: 2rem;
}
.new-paylist> input{
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    color: var(--primary-color);
    font-weight: 400;
    /* font-size: 1.2rem; */
}
.new-paylist> input:focus{
    color: var(--cta-color);
    /* font-weight: 2rem; */

}
.btn-playlist{
    background-color: transparent;
    border: 0;
}
.playlist-add{
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    color: var(--cta-color);
    margin: 1rem;
    /* text-align: center; */
}
.playlist-add:hover{
    /* padding-right: 1rem */
    background-color: var(--cta-color);
    color: var(--secondary-color);
    /* color: var(--secondary-color); */
}
.close-playlist-btn{
    font-size: 2rem;
    color: var(--cta-color);
    position: absolute ;
    top:0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
}