
.video-card {
    width: 25rem;
    font-weight: 500;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.video-card:hover{
    transform: scale(0.98);
}
.video-card-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 1rem;
}

.video-card-img-container{
    width: 100%;
    height: 100%;
}
.video-img{
    width: 100%;
    border-radius: 0.5rem;
    height: 21rem;
}
.video-img:hover{
    transition: scale(1.3);
}
.video-card-body{
    display: flex;
    flex-direction: row;

    padding: 0.5rem;
}
.video-card-body>*{
    margin: 0.5rem;
}
.video-info{
    overflow: hidden;

}
.video-title{
    font-size: 1.5rem;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.views{
    margin-left: 1rem;
}

.icon-btn:hover{
    color: var(--primary-color);

}

.option-link{
    border: none;
    background: var(--cta-color);
    height: fit-content;
    border-radius: 50%;
    padding: 1rem;
    color: white;
    position: relative;
}
.option-wrapper{
    width: max-content;
    right: 0;
    position: absolute;
    background: rgb(17, 17, 17);
    text-shadow: none;
    border-radius: 0.5rem;
}
.option-item{
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 1rem;
}
.option-item:hover{
    background-color: var(--cta-color);
    color:var(--primary-color);
    border-radius: 0.5rem;

}

.del-video-icon{
    font-size: 3rem;
    padding: 1rem;
    border: 0;
    box-shadow: 0 0 0;
    /* color: transparent; */
}
.del-video-icon:hover{
    color: var(--cta-color);
    background-color: transparent;
}