.navigation-bar{
    /* background-color: var(--primary-color);   */
    /* color: inherit; */
    /* color: var(--secondary-color); */
    border-bottom: 0; 
    display: flex;
    align-items: center;
    background: none;
}

.nav-heading{
    color: var(--secondary-color);
    text-decoration: none;
}
.light-theme-nav-heading{
    color: var(--secondary-color-light);
    text-decoration: none;
}
.icon, .icon-light{
    color: var(--secondary-color-light);
}
.icon, .icon-dark{
    color: var(--secondary-color);
}
a.icon.icon-dark.h-4.nav-user-icon.no-link {
    color: var(--secondary-color);
}
.icon{
    color:inherit;
}
.nav-user-icon{
    text-align: center;
    color: inherit;
}
form.navigation-brand-link.search-form {
    flex-grow: 1;
    margin: 0 5rem;
}
.nav-search{
    padding: 0.5rem;
    /* max-width: 500px; */
    /* min-width: 200px; */
    /* width: fit-content; */
    flex-grow: 1;
    /* flex-shrink: 1; */

    border: 0px solid;
    background-color: transparent;
    color: var(--secondary-color);
}
.nav-search-light-theme{
    color: var(--secondary-color-light);
}
.navigation-brand-link input:focus{
    border: 0px solid;
    outline: 0px;
}
.nav-search:focus-visible{
    outline: 0;
}
.search-container{
    outline: 0.15rem solid var(--secondary-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5rem;
    flex-grow: 1;

}
.search-container:focus-within{
    outline: 0.2rem solid var(--secondary-color);
}
.search-container-light-theme{
    outline: 0.15rem solid var(--secondary-color-light);
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5rem;
    flex-grow: 1;
}
.search-container-light-theme:focus-within{
    outline: 0.2rem solid var(--secondary-color-light);
}
.search-container-btn{
    background: none;
    color: var(--secondary-color);
    border: 0px;
    margin-left: auto;
    flex-grow: 0;
}

.auto-complete-titles{
    position: absolute;
    top:10vh;
    background-color: gainsboro;
    color: var(--primary-color);
    min-width: 200px;
    max-width: 500px;
    overflow-y: scroll;

}
.elipsis-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
.theme-icon-container{
    display: flex;
    align-items: center;
}

.theme-icon{
    color: var(--cta-color);
    font-size: 3rem;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
}
.theme-icon:hover{
    background-color: #7b7787;
    cursor: pointer;
}
form.navigation-brand-link.search-form {
    flex-grow: 1;
    margin: 0 5rem;
}
.nav-login-btn{
    display: flex;
}
@media (max-width: 575px){

    a.h-3.no-link.nav-brand-name-change {
        display: none;
    }
    form.navigation-brand-link.search-form {
        flex-grow: 1;
        flex-shrink: 1;
        /* margin: 0 5rem; */
        margin: auto;
    }
    .nav-login-btn{
        display: none;
    }
}
