.navigation-bar{
    background-color: var(--primary-color);  
    border-bottom: 0; 
}
.nav-heading{
    color: var(--secondary-color);
    text-decoration: none;
}
.icon{
    color:var(--secondary-color);
}
.nav-user-icon{
    text-align: center;
}