.footer{
    background: inherit;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: inherit;
}
.footer-with-text{
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    min-width: 150px;
    display: flex;
    justify-content: space-evenly;
    background: inherit;
}
.footer .icon{
    display: flex;
    justify-content: center;
}
.activeClassName{
    color: aqua;

}
.footer-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-text{
    font-size: 1.5rem;
    flex-direction: row;
    align-items: center;
    color: inherit;
}


@media screen and (max-width: 767.98px){
    .sidebar-footer-text.icon.cursor-pointer {
        display: none;
    }
    .footer-text{
        display: none;
    }
    .footer-with-text{
        grid-area: third;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 1rem;
    }
    
    
}
.footer-text-container.mobile-only-btn{
    visibility: hidden;
}
@media (max-width: 575px){
    .footer-text-container.mobile-nil-btn{
        display: none;
    }
    .footer-text-container.mobile-only-btn{
        visibility: visible;
    }
}