.app{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "first"
    "second"
    "third";
}
.btn:hover{
    background-color: var(--cta-color);
    color: var(--secondary-color);
}
.nav-mode{
    grid-area: first;
    position: fixed;
}
.mode{
    grid-area: second;
    overflow: auto;
}
.footer-mode{
    grid-area:third;
}
.icon:hover{
    color: var(--cta-color);
}