.app{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "first"
    "second"
    "third";
    /* overflow-x: auto; */
    /* color: var(--primary-color); */
    
}


.icon.light-theme-icon{
    color: var(--secondary-color-light);
}
.cursor-pointer{
    cursor: pointer;
}
.btn {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--grey);
    cursor: pointer;
    color: inherit;
    background: inherit;
}
.btn:hover{
    background-color: var(--cta-color);
    color: var(--secondary-color);
}
.nav-mode{
    grid-area: first;
    position: fixed;
}
.mode{
    grid-area: second;
    overflow: auto;
}
.footer-mode{
    grid-area:third;
}
.icon{
    color: inherit;
}
.icon:hover{
    color: var(--cta-color);
}
.page-btn{
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px){
    .app{
        display: grid;
        grid-template-rows: 10vh 90vh;
        grid-template-columns: 5vw 95vw;
        grid-template-areas: 
        "first first first first"
        "third second second second";
    }
    .navigation-bar{
        grid-area: first;
        
    }
    
    .footer{
        flex-direction: column;
        grid-area: third;
        
    }
    

}

/* Scroll bar */
    /* width */
    ::-webkit-scrollbar {
        width: 2px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }