@import "https://bubble-ui.netlify.app/styles/component.css";
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  --cta-color:#564882;
  --primary-color:black;
  --secondary-color:#a9a5a5;
  --screen-color:#3a3939f0;
  --primary-color-light:#dcdcdc;
  --screen-color-light:white;
  /* --cta-color: #E1BBC9; */
  --secondary-color-light: black;
  /* --cta-color:transparent; */
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Source Sans Pro', sans-serif;
}
.light{
  color: var(--secondary-color-light);

  /* background-color: var(--screen-color-light); */
  background: rgb(220,220,220);
  background: linear-gradient(175deg, rgba(220,220,220,1) 0%, rgba(95,80,144,1) 79%);  
}

.dark{
  color: var(--secondary-color);
  background: rgb(2,0,36);
  background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(95,80,144,1) 91%);
  background: rgb(2,0,36);
background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(86,67,152,1) 100%);
}